$primary: #6100ED;
$secondary: #243171;

@mixin ioteamAbsolute($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin ioteamBoxshadow($x, $y, $blur, $color) {
  -moz-box-shadow: $x $y $blur 0 $color;
  -webkit-box-shadow: $x $y $blur 0 $color;
  -o-box-shadow: $x $y $blur 0 $color;
  box-shadow: $x $y $blur 0 $color;
}

@mixin ioteamText($size, $weight, $align, $color) {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: $size;
  font-weight: $weight;
  text-align: $align;
  color: $color;
}

@mixin ioteamFlex($align, $content) {
  display: flex;
  align-items: $align;
  justify-content: $content;
}